.card {
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 5px 1px #ffffff;
  margin: 10px;
}
.card:hover {
  box-shadow: 0 5px 1px #c42020;
}

a {
  text-decoration: none;
  color: white;
}

.sto_title {
  text-align: center;
  width: 180px;
  line-height: 1.7;
  margin-inline: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
