.header{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c42020;
    font-weight: bold;
    font-size: 20px;
    font-family: "Bodoni MT Poster Compressed"
}
.header img{
    width: 20px;
}
